
<div class="container text-center vertical" >
	

<%if !logged_in?%>
<h2>Welcome to ChatApp! Please login or signup to continue...</h2>
<br>
	<%=link_to "Log In", login_path, class: "btn btn-success" %>
	<%=link_to "Sign up", new_user_path, class: "btn btn-danger"%>
<%else%>
<h2>you are already logged in, enjoy the chat app or logout...</h2>
<br>
	<%=link_to "Chatroom", chatroom_path, class: "btn btn-info" %>
	<%=link_to "Log out", logout_path, method: :delete,class: "btn btn-danger" %>
<%end%>

</div>
