<div class="container alert alert-primary" role="alert">
  welcome! Now chat throughout the world woth anyone....
</div>

<div class="container">
	<div id="box">
	<div id="messages">
		<%=render @messages%>
	</div>
	</div>	
	<br>

	<div class="testing">
		<%= form_for(@message, url: message_path, remote: true) do |f| %>	
		    <%= f.text_field :body,placeholder: "Enter the text..", class: "form-control mb-3 input-box", id: "new" %> 
		  <%= f.submit ">" , onclick: 'test()' , class: "submit-btn" %>
		<% end %>
	</div>
</div>

<script type="text/javascript"> 
		var test = () =>
		{
			scroll()
			setTimeout(() => {document.getElementById('new').value = ""}, 50);
			
		} 

</script>