*{
    margin: 0;
    padding: 0;
}

.vertical{
    margin-top: 16rem;
}

.container{
    width: 70%;    
}


#box{
    height: 30rem;
    overflow: auto;
    margin: auto;
    width: 50%;
    border: 10px groove lightcyan;
}

.input-box{
    text-align: center;
    border: none;
    border-bottom: 2px darkblue solid;
}

input#new{
    box-shadow: none;

}

input.submit-btn{
    background-color: lightskyblue;
    display: block;
    margin: auto;
    width: 10%;
    
}

